#chat {
  display: flex;
  flex-direction: row;
  margin: 30px;
  border: 1px solid black;
  height: 400px;
}

#left-container {
  border-right: 1px solid black;
  height: 100%;
  width: 200px;
}
#chats {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

#login-info {
  font-size: 12px;
}

#chat-form {
  border-top: 1px solid #ccc;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}

#chat-form input[type="text"] {
  width: 400px;
}
